<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="Xrm" connectionString="AuthType=Office365;Username=sanjb@********.onmicrosoft.com; Password=************;Url=https://********.crm6.dynamics.com; SkipDiscovery=false;" />
  </connectionStrings>
</configuration>
